<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userDao" class="com.dcxuexi.dao.impl.UserDaoImpl" >
        <constructor-arg index="0" value="xiaoChuang" />
        <constructor-arg index="1" value="24" />
    </bean>
    <bean id="cityDao" class="com.dcxuexi.dao.impl.CityDaoImpl" />
    <bean id="userService" class="com.dcxuexi.service.impl.UserServiceImpl" >
        <!--  <property name="userDao" ref="userDao" />-->
        <constructor-arg name="userDao" ref="userDao" />
        <constructor-arg name="cityDao" ref="cityDao" />
    </bean>

</beans>